body
  margin 20px 0
  padding 0

.outcomes 
  display inline-block;
  z-index 999
  height 50px
  position absolute
  top 20px
  left 20px

.coefShow 
  color green

.coefNoShow 
  color red
  text-decoration line-through

ul 
  list-style none
  background-color pink
  padding 0
